<div class="grid-container">
  <div class="grid-item CountryInformation">
      <p>{{stateData.name}}</p>
      <img src="{{stateData.flag}}">
      <p>{{stateData.description}}</p>
  </div>
  <div class="grid-item StateTable">
      <table>
          <caption>States</caption>
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Flag</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let city of stateData.cities">
                  <td>{{city.id}}</td>
                  <td>{{city.name}}</td>
                  <td><img src="{{city.flag}}"></td>
                  <td><p>{{city.description}}</p></td>
                  <td>
                      <span id="DeleteIcon" class="material-symbols-outlined">&#xe872;</span>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="grid-item Edit">
      <form #form = "ngForm" [class.submitted] = "service.formSubmitted" novalidate autocomplete="off">
          <input type="hidden" name="id" [value]="service.EditData.id">
          <h5>Edit Section<span id="EditIcon" class="material-symbols-outlined">&#xe3c9;</span></h5>
          <input type="text" placeholder="Name" #name = "ngModel" name="name" [(ngModel)]="service.EditData.name" required minlength="3">
          <input type="text" placeholder="Flag" #name = "ngModel" name="flag" [(ngModel)]="service.EditData.flag" required minlength="3">
          <textarea type="text" placeholder="Description" #name = "ngModel" name="description" [(ngModel)]="service.EditData.description"></textarea>
          <br>
          <button type="submit">Submit</button>
        </form>
  </div>
  
</div>


