<table class="table">
  <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Flag</th>
          <th>States</th>
          <th>Capital</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let country of service.countryList">
          <td>{{country.id}}</td>
          <td>{{country.name}}</td>
          <td><img style="width: 50px; height: 30px;" src={{country.flag}}></td>
          <td>{{country.quantityStates}}</td>
          <td>{{country.capital}}</td>
          <td>
            <span id="DetailIcon" class="material-symbols-outlined">&#xe46e;</span>
            <span id="EditIcon" class="material-symbols-outlined">&#xe3c9;</span>
            <span id="DeleteIcon" class="material-symbols-outlined">&#xe872;</span>
          </td>
      </tr>
      
      
  </tbody>
</table>