<div class="flex-container">
  <div class="flex-item" id="InformationTable">
    <table class="table">
      <thead>
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Flag</th>
              <th>States</th>
              <th>Capital</th>
              <th>Description</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let country of service.listData" (click)="populate(country)">
              <td>{{country.id}}</td>
              <td>{{country.name}}</td>
              <td><img src={{country.flag}}></td>
              <td>{{country.quantityStates}}</td>
              <td>{{country.capital}}</td>
              <td><p>{{country.description}}</p></td>
              <td>
                <span id="DetailIcon" [routerLink]="['/countryDetails',country.id]" class="material-symbols-outlined">&#xe46e;</span>
                <span id="DeleteIcon" class="material-symbols-outlined" (click)="onDelete(country.id,form)">&#xe872;</span>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="flex-item" id ="EditSection">
    <form #form = "ngForm" (submit)="OnSubmit(form)" [class.submitted] = "service.formSubmitted" novalidate autocomplete="off">
      <input type="hidden" name="id" [value]="service.EditData.id">
      <h5>Edit Section<span id="EditIcon" class="material-symbols-outlined">&#xe3c9;</span></h5>
      <input type="text" placeholder="Name" #name = "ngModel" name="name" [(ngModel)]="service.EditData.name" required minlength="3">
      <input type="text" placeholder="Flag" #name = "ngModel" name="flag" [(ngModel)]="service.EditData.flag" required minlength="3">
      <input type="text" placeholder="Capital" #name = "ngModel" name="capital" [(ngModel)]="service.EditData.capital" required minlength="3">
      <textarea type="text" placeholder="Description" #name = "ngModel" name="description" [(ngModel)]="service.EditData.description"></textarea>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>  
</div>
