<div class="flex-container">
    <h2 class="tourName">Salto del Angel</h2>
  <div class="flex-item slider">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel1.jpg" alt="Image 1" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel2.jpg" alt="Image 2" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel3.png" alt="Image 2" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel4.jpg" alt="Image 2" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel5.jpg" alt="Image 2" [ngClass]="'img'">
  </div>
  <div class="flex-item Information">
      <dl>
        <h3>Description: </h3>
        <dt>Date: </dt>
        <dd>22 Dic 2021</dd>
        <dt>Agency: </dt>
        <dd> Medellin Bungee</dd>
        <dt>Cost: </dt>
        <dd> $150.000</dd>
        <dt>Place: </dt>
        <dd>Envigado</dd>
        <a href="#">Itinerary</a>
      </dl>
  </div>

  <br>

  <h2 class="tourName">Chorro Campanas</h2>
  <div class="flex-item slider">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel1.jpg" alt="Image 1" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel2.jpg" alt="Image 2" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel3.png" alt="Image 2" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel4.jpg" alt="Image 2" [ngClass]="'img'">
      <img src="/assets/Imgs/SaltoAngel/SaltoAngel5.jpg" alt="Image 2" [ngClass]="'img'">
  </div>
  <div class="flex-item Information">
      <dl>
        <h3>Description: </h3>
        <dt>Date: </dt>
        <dd>25 Ago 2023</dd>
        <dt>Agency: </dt>
        <dd> AventuraX</dd>
        <dt>Cost: </dt>
        <dd> $80.000</dd>
        <dt>Place: </dt>
        <dd>Envigado</dd>
        <a href="#">Itinerary</a>
      </dl>
  </div>
</div>